<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}


        <h1>tasks</h1>


        {% for task in tasks  %} 
            {% if task.isimportant %}
                <strong>{{task.title}}</strong>
            {% else %}
            <h2>{{task.title}}</h2>
        {% endif %}
        <h2>{{task.title}}</h2>
        <p>{{task.description}}</p>
        <p>{{task.user}}</p>
        {% endfor %}


    {% endblock %}
</body>
</html>